Package: libdevel-debug-simple-perl
Version: 0--1
Architecture: all
Maintainer: Roman V. Nikolaev <rshadow@rambler.ru>
Installed-Size: 51
Depends: perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/Devel-Debug-Simple/
Description: Simple perl debug module use standart output.
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
