Source: libdevel-debug-simple-perl
Section: perl
Priority: optional
Maintainer: Dmitry E. Oboukhov <unera@debian.org>
Uploaders: Roman V. Nikolaev <rshadow@rambler.ru>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.3
Homepage: http://search.cpan.org/dist/Devel-Debug-Simple/

Package: libdevel-debug-simple-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Simple perl debug module use standart output.
